@import url('https://fonts.googleapis.com/css?family=Lora|Raleway');/* General */
html {
  font-family: 'Raleway';
}
h1, h6 {
  font-weight: bold;
}
.bold {
  font-weight: bold;
}
.row {
  margin: 0!important;
}
.header {
  font-family: 'Lora';
}

.noproject-wrapper {
  margin-top: 150px;
  padding: 0px 0px;
  

}

.noproject-wrapper h3 {
  padding: 10px;
  margin-bottom: 50px;
}

.addprj {
   padding: x 10px;
  margin-bottom: 50px;
  text-align: center;


}


form ul li.category {
  display: inline-block;
  background-color: white;
  padding: 5px 10px;
  margin-right: 5px;
}


.section-stats h1 {
  font-size: 4vw;
  margin: 15px 0px;
}
@media(max-width: 992px){
  .section-stats h1 {
    font-size: calc(16px + 6vw);
  }
}

.section-expenses button {
  padding: 0px 40px;
  font-weight: bold;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, .25);
}
.section-expenses .expense {
  font-size: 16px;
  border-radius: 0;
  margin: 0;
}
.section-expenses .expense .category {
  font-size: 13px;
}

.section-expenses .close-icon:hover {
  cursor: pointer;
}
